/*** Exercise 1: Twitter CSS ***/

/*
#### You should not have to change the given property values. ###
*/

/*** Completed body style below ***/
body {
	background-color: #e6ecf0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/*** Removes default style from links ***/
a {
 	text-decoration: none;
 	color: black;
}

/***********************************************
********** Add to the selectors below **********
************************************************/

/* You only need to add where it says "Add properties below" */


/*** Header and banner styles below ***/

#header {
	padding: 5px;
	background-color: white;
}

.birdLogo {

	/* Add properties below */
	margin-left: 40px;
}

.bannerPic {
	display: block;
	width: 100%;

	/* Add properties below */
	max-height: 300px;
}


/*** Profile Statistics Bar styles below ***/

#profileStats {
	padding: 5px;
	background-color: white;
}

#profileStats ul {
	margin: 0px;
	padding: 3px;
	
	/* Add properties below */
	margin-left: 390px
	
}

#profileStats ul li {
	margin-right: 20px;
	font-weight: bold;
	list-style: none; /* Gets rid of list bullet points */
	text-align: center;
	
	/* Add a proper display property: We want the stats to have 
	a height, but also appear side-by-side */
	display: inline-block;
	/*display: ;*/
		
}

.profileStatsNumber {
	display: block;
	
	/* Add properties below */
	font-size: 150%;
}


/*** Profile info box styles below ***/

#profileInfo {
	background-color: white;
	padding: 10px;
	
	/* Add properties below */
	min-height: 300px;
	margin-left: 50px;
	margin-top: 20px;
	min-height: 300px;
	width: 300px;
	/* use float to let profileInfo and timeline lies side by side*/
	float: left;

}


/*** Timeline styles below ***/

#timeline {
	border-radius: 10px;
	background-color: white;

	/* Add properties below */
	margin-top: 20px;
	margin-left: 390px;
	width: 600px;

}

.timelineHeader {
	border-bottom: 1px solid grey;
}

.timelineHeader ul {
	margin: 0px;
}

.timelineHeader ul li {
	padding: 10px;
	margin-right: 20px;
	font-size: 150%;
	font-weight: bold;

	/* Add properties below */
	display: inline;

}


/*** Tweet styles below ***/

.tweet {
	background-color: white;
	
	/* Add properties below */
	min-height: 100px;
	border-top: 1px solid grey;
	overflow: auto;
	
}

/* For the div that holds the tweet icon */
.tweetIconContainer {

	/* Add properties below */
	width: 60px;
	height: 60px;
	float: left;
}

.tweetIcon {

	/* Add properties below */
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
	height: 60px;
	width: 60px;
}


.tweetContent {
	margin: 0px;

	/* Add properties below */
	width: 520px;
	list-style: none;
	margin-left: 60px;
	border-bottom:30px #e6ecf0;
}

/* For pictures inside tweets (like the Robarts pic) */
.tweetContentPicture {
	/* Add properties below */
	max-width: 500px;
	
}


/* Style the big profile picture circle here. */
#bigProfilePicCircle {
	/* Add properties below */
	top: 230px;
	left: 100px;
	position: absolute;
}

.bigPic {
	border-radius: 50%;
	width: 200px;
	border:5px solid white;
}

.tweetname {
	font-size: 120%;
	font-weight: bold;
}

/** Some font color classes for you to use. **/
.grey {
	color: grey;
	font-size: 120%;
}


.hashtag {
	color: #5088e9;
}
